**/target/**
/.idea/**
/dt/*
/dt/assets/**/*.meta
DT_THINGS
Water
notan
**/\#*
/dt_launcher/launcher/
macroquad
Cargo.lock
!*/dt/android_pack/android/**
!dt/assets/
!dt/assets/**/*.png
!*/map/*
!*/**.ini
!*/map/**