**/target/**
/.idea/**
**/*.html
/.ts/**
**/.lock
/dt/*
DT_THINGS/*
Water/**
notan/**
notan
#*
/dt_launcher/launcher/mods/
Cargo.lock

!*/assets/*
!*/map/*
!*/MapExample.ini
!*/Rus_Locale.ini
!*/Eng_Locale.ini
!*/Objects.ini
!*/Units.ini
!*/Rus_Artefacts.ini
!*/Settings.ini