**/target/**
/.idea/**
**/*.html
/.ts/**
/dt/*
DT_THINGS/*
Water/**
notan/**
notan
#*
/dt_launcher/launcher/
macroquad
!*/dt/*.ttf
!*/dt/android_pack/android/**
!*/dt/assets/**
!*/map/*
!*/**.ini
!*/map/**